
main {
    background: url("../img/carousel-1.jpg")   no-repeat;
    background-size: cover;
    background-color: grey;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#form {
    margin-top: 10rem;
    padding: 2em;
    border-radius: 0.4em;
}

label {
    color: white;
    font-weight: 600; 
}

.mt-10 {
    margin-top: 10rem
}


input[type="file"] {
    position: initial;
    z-index: 0;
    top: initial;
    left: initial
}

.image-preview {
    object-fit: cover;
    object-position: center
}

.program-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    justify-content: center;
    align-items: center
}

.program-title h1 {
    font-size: 3rem;
    color: #FDBE33;
    font-weight: bold;
}

.detail-description .description::first-letter {
    font-size: 3rem;
}

.cards-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 0.2rem;
}

.cards-wrapper > * {
    flex: 1 0 0;
}

.card img {
  max-width: 100%;
  max-height: 100%;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}
.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  width: 5vh;
  height: 5vh;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .card img {
    height: 15em;
  }
}

.carousel {
    background: transparent;
    overflow-x: hidden;
}

#schedule-carousel .carousel-item {
    display: none;
}

#schedule-carousel .carousel-item.active, 
#schedule-carousel .carousel-item.carousel-item-next {
    display: block;
}

#schedule-carousel .carousel-item img {
    object-fit: cover;
    object-position: center;
}

#schedule-carousel .carousel-item .carousel-inner {
    padding: 0;
}

.card .carousel, .card .carousel-item {
    margin-bottom: 0;
    min-height: 240px;
}

.owl-item.active {
    height: 240px;
}

.owl-item .carousel-item {
    display: block !important;
}

.card-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}